html,
body {
    height: 100%;
}
/* Show it's not fixed to the top */
body {
    min-height: 75rem;
  }

body {
    display: block;
    align-items: center;
    /* padding-top: 40px; */
    padding-bottom: 40px;
    background-color: #de99e9;
}

.party-list {
    background-color: #ffffff;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    align-items: center;
}

#searchbar {
    color: white;
    font-weight: bold;
    background-color: #de99e9;
}

a {
    color: #49AEA0;
}